 /* 커스텀 스크롤바 스타일 */
/* width */
.custom-scrollbar::-webkit-scrollbar {
    /* width: 2px; */
    height: 2px;
}
/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #04344d;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #04344d;
}